.wrapper {
  position: relative;
}
.wrapperChat {
  background-color: #708090;
  min-height: 100vh;
  /* min-height: 100%; */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}
/* .chat {
  overflow: hidden;
  height: 100%;
} */
.myMessage {
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 10px;

  width: auto;
  max-width: 200px;
  display: inline-block;

  margin: 5px;
  padding: 5px;
}
.alienMessage {
  background-color: red;
  border: 1px solid red;
  border-radius: 15px;

  width: auto;
  max-width: 200px;
  display: inline-block;
  margin: 5px;
  min-width: 100px;
  padding: 5px;
  padding-left: 10px;
}
.chat {
  overflow: auto;
  max-height: 630px;
  margin-inline: -5px;
}
.chat::-webkit-scrollbar {
  width: 5px;
  background-color: #223c50;
}
.chat::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  width: 5px;
  height: 10px;
}
.chat::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.noneMar {
  margin: 0 0 0 0;
  text-align: left;
  word-wrap: break-word;
}

@media (max-width: 330px) {
  .wrapper {
    background-color: #708090;
    min-height: 100vh;
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
  }
}
