.wrapper {
  background-color: #708090;
  min-height: 100vh;
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
}
/* .chat {
  overflow: hidden;
  height: 100%;
} */
.myMessage {
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 10px;

  width: auto;
  max-width: 200px;
  display: inline-block;

  margin: 5px;
  padding: 5px;
}
.alienMessage {
  background-color: red;
  border: 1px solid red;
  border-radius: 15px;

  width: auto;
  max-width: 200px;
  display: inline-block;
  margin: 5px;
  min-width: 100px;
  padding: 5px;
  padding-left: 10px;
}

.noneMar {
  margin: 0 0 0 0;
  text-align: left;
  word-wrap: break-word;
}
